:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --btn-bg: #0077cc;
  --btn-text: #ffffff;
  --card-bg: #cfcfcf;
}

body.dark {
  --bg-color: #121212;
  --text-color: #eaeaea;
  --btn-bg: #3399ff;
  --btn-text: #000000;
  --card-bg: #192c46;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* button:hover {
      opacity: 0.9;
    } */

/* body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f5f5f5;
} */

h3,
h2 {
  color: var(--text-color);
}

#cargarJSONBtn {
  display: inline-block;
  padding: 10px 15px;
  background: linear-gradient(135deg, #27ae60, #2ecc71);
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
}

#marcador {
  position: fixed;
  top: 10px;
  right: 10px;
  background: var(--card-bg);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#marcador button {
  font-size: 0.9em;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--btn-bg);
  color: var(--btn-text);
}
/* button {
      background-color: var(--btn-bg);
      color: var(--btn-text);
      border: none;
      padding: 6px 12px;
      margin: 4px;
      border-radius: 5px;
      cursor: pointer;
    } */

.pregunta {
  background-color: var(--card-bg);
  border-radius: 12px;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.pregunta p {
  font-size: 1.25em;
  line-height: 1.9em;
  margin: 0 0 15px 0;
}

.opcion {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1.8em;
  display: block;
}

.pregunta button {
  padding: 8px 15px;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  /* background: linear-gradient(135deg, #f39c12, #e67e22);
  color: white; */
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
